/* Variaveis em Css */
:root{
    --vermelho: #E50914;
    --preto: #141414;
}
/* ---------------- */



/* Elementos da base */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar{
    display: none;
}

body{
    background: var(--preto);
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

header .container{
    text-align: center;
}

header .logo img{
    width: 180px;
    margin: 12px;
}

nav{
    position: fixed;
    top: 45vh;
    left: 0px;
    z-index: 2;

    overflow: hidden;
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    height: 80px;
    width: 30px;
    transition: .5s;
}

nav:hover{
    top: 0;
    height: 100vh;
    width: 150px;
    background-color: #040404d9;
}

nav a{
    text-decoration: none;
    color: #AAA;

    margin: 55px;
    height: 40px;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;  

    transition: .3s;
}

nav a:hover{
    color: #fff;
    overflow: unset;
}

.menu i{
    font-size: 30px;
    margin-bottom: 10px;
}

.menu .seta{
    margin: 5px 10px;
    position: absolute;
    font-size: 25px;
}
/* --------------- */



/* Filme em destaque */
.filme-em-destaque{
    background: linear-gradient(to right, #000000,#000000ad,#00000000 ), url("../img/posters/poster-destaque/attack-titan-03.jpg");
    background-size: cover;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 5%;
}

.filme-em-destaque .container{
    width: 55%;
    transition: .3s;
}

.filme-em-destaque .container:hover{
    transform: scale(1.1)
}

.filme-em-destaque .titulo img{
    width: 300px;
    margin-bottom: 5px;
}

.filme-em-destaque .descricao{
    margin-bottom: 40px;
}

.botao{
    background-color: rgba(255, 255, 255, 0.788);
    border: none;
    padding: 15px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: .5s ease all;
}

.botao:hover{
    background-color: rgb(255, 255, 255);
}

.informacao{
    background-color: rgba(94, 93, 93, 0.412);
    color: white;
    margin-left: 5px;
}

.informacao:hover{
    background-color: rgba(94, 93, 93, 0.809);
}

.caixa-de-botoes i{
    margin-right: 8px;
}
/* ------------ */



/* Owl carrosel */
.carrossel{
    margin: 30px 0px;
}

.carrossel h3{
    margin: 5px 10px 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.carrossel .item{
    padding: 5px;
    transition: .3s;
    margin: 0 auto;
}

.carrossel .item:hover{
    transform: scale(1.1);
}